.image-container{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 1%;
}

.image{
    max-width:450px;
    max-height:450px;
}

.item-description{
    font-style: italic;
    font-size: 1.2em;
}

.quote-author{
    color: lightgray;
    font-size: .9em;
}

.highlight{
    font-weight: bold;
    color: rgb(43, 255, 0);
}